.z0 {
     font-size: 22pt;
     font-style: normal;
     font-weight: bold;
     text-decoration: none;
     color: brown;}
.zz {
     font-size: 10pt;
     font-weight: bold;
     text-decoration: none;
     color: blue;}
.phone{text-align:center;
vertical-align:middle;
}

table, tr, td{border:1px solid black;}
td{padding:2pt;}
table{
   border-collapse: collapse;
 }
