.z0 {font-family: Ariel, Times New Roman, Verdana;
     font-size: 22pt;
     font-style: normal;
     font-weight: bold;
     text-decoration: none;
     color: brown;}
.zz {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
     font-size: 10pt;
     font-weight: bold;
     text-decoration: none;
     color: blue;}
.phone{text-align:center;
vertical-align:middle;
}