.titulek,.radek{
  display:block;
}
.radek,.titulek{max-width:70%;margin-right:auto;}
.radek:after{  content: "\A";
       white-space: pre; }
.titulek{font-weight:bold;}
.cena{
  float:right;
  /* //margin-left:auto; */
  display:block;
  clear:both;
  max-width:25%;
  /* //width:auto; */
  /* //margin-top:-1em; */
  text-align:right;
  /* //margin-top:-1em; */
}
.entry{clear:both;}
li{margin-bottom:1em;}
.vysvetlivka{font-size:0.8em;display:block;}
