*{
  margin:0;
  padding:0;
}

body{
  max-width:60em;
}

header{padding:0;margin:0}

header h1{
  margin:0;
  padding-top:0.6em;
  padding-bottom:0.9em;
  padding-left:0.3em;
  background-color:#e67e39;
  font-size:3rem;
  font-weight:bold;
}

header menu menuitem {
  margin-right:1rem;
  font-size:1.5rem;
}
header menu{
  margin-bottom:0.5em;
  background-color:black;
  padding:0.3em;
}

header img{
  padding:0;
  margin:0;
  text-indent:0;
  width:100%;
  background-color:black;
  padding-bottom:1.5em;
  margin-bottom:0.5em;
  padding-left:-3px;
}

header a{color:black;}
header menu a{
  color: rgb(200,200,200);
  text-decoration:none;
  border: none;
}

header menu a:hover{
  color:white;
  background-color:gray;
}

body.portal main{
  display:flex;
  min-height:34em;
}

body.portal .news *, body.portal .sitemap *, body.portal .open-hours *{
  padding:0;
  margin:0;
}

body.portal .news {
  /* margin-right:auto; */
  max-width:50%;
}

body.portal .news, body.portal aside.sitemap{
  margin-right:1em;
}

aside.open-hours, aside.sitemap{
  max-width:14rem;
}

main.portalcontent aside.sitemap{
  max-width: 100%;
}

main.portalcontent aside.sitemap menuitem:before{
  content: "•";
  color:black;
}
main.portalcontent aside.sitemap div.box h3.boxname{
  background-color: none;
}

body.portal .news, body.portal .sitemap, body.portal .open-hours{font-size:0.9em;}

body.portal .open-hours td:first-child{padding-right:.5em;}

body.portal .news .item h2, body.portal aside.open-hours h3, body.portal .news > h2  {
  /* font-size:1em; */
  background-color:#e67e39;
  width:100%;
  padding-left:0.3em;
}
body.portal .news > h2 {
  font-size:1.5em;
  margin-bottom:0.5em;
  padding-bottom:0;
}

body.portal .sitemap menuitem{display:block;}

.portalcontent menuitem menuitem{margin-left: 2em;}

.portal main .sitemap menu{
}

.portal div.box{
  margin-bottom:1em;
}

.portal div.box menuitem menuitem{
  margin-left:2em;
  color:red;
}

div.vystavba{color:gray; font-size:0.8em;}

body.portal div.box h3.boxname{
  background-color:#e67e39;
  max-width:100%;
  padding-left:0.3em;
}


body.portal .sitemap {margin-right:auto}
body.portal .sitemap h3.boxname a, body.portal .open-hours h3 a{color:black; border:none;}


aside.open-hours h3 {}
aside.open-hours h4{
  font-size:0.9rem;
  /* margin:0; */
  /* padding:0; */
}

body.portal aside.open-hours  h5, body.portal aside.open-hours h4{
  margin-top:1em;
}

body.portal aside a{
  border-bottom: 1px solid rgb(200,200,200);
  color: rgb(80,80,80);
}

footer{
  width:100%;
  background-color:black;
  color:#e67e39;
  min-height:5em;
  margin-top:2em;
}

.z1,.z2,.z3,.z4{
  font-size:1em;
  color:black;
}

.z0{
  font-size:1.5rem;
  color:black;
}

.z5{
  font-size:1.2rem;
  color:black;
}


@media  print{
  a{
    text-decoration:none;
    border-bottom:none;
  }
  header, footer{display:none;}

}
.new{color:red;margin-left:-4em;float:left;}

u {text-decoration:none;}

li li{ margin-left: 2em;}
