.z0 {
     font-size: 22pt;
     font-style: normal;
     font-weight: bold;
     text-decoration: none;
     color: brown;}
.z1 {
     font-size: 10pt; !important
     margin-bottom:.5em;
     display:block-inline;
     }
.z2 {
     font-size: 10pt;
     font-weight: bold;
     color: blue;}
.z3 {
     font-size: 10pt;
     font-weight: bold;
     color: blue;}
.z4 {
     font-size: 13pt;
     font-style: normal;
     font-weight: bold;
     color: black;}
.z5 {
     font-size: 10pt;
     }
.z6 {
     font-size: 16pt;
     font-style: normal;
     font-weight: bold;
     color: black;}
.z7 {
     font-size: 14pt;
     font-style: italic;
     font-weight: bold;
     color: black;}
.z8 {
     font-size: 10pt;
     font-style: normal;
     font-weight: bold;
     color: black;}
.zz {
     font-size: 10pt;
     font-weight: bold;
     text-decoration: none;
     color: blue;}
