.z0 {
     font-size: 22pt;
     font-style: normal;
     font-weight: bold;
     text-decoration: none;
     color: brown;}
.z1 {
     font-size: 10pt;
     font-style: normal;
     text-decoration: normal;
     font-weight: bold;
     color: black;}
.z2 {
     font-size: 8pt;
     font-style: italic;
     text-decoration: normal;
     font-weight: bold;
     color: black;}
.z3 {
     font-size: 10pt;
     font-style: normal;
     text-decoration: normal;
     font-weight: bold;
     color: black;}
.z4 {
     font-size: 10pt;
     font-style: normal;
     text-decoration: underline;
     font-weight: bold;
     color: blue;}
.z5 {
     font-size: 8pt;
     font-style: italic;
     text-decoration: underline;
     font-weight: bold;
     color: blue;}
.z6 {
     font-size: 10pt;
     font-style: normal;
     text-decoration: normal;
     background: orange;
     font-weight: bold;
     color: black;}
.zz {
     font-size: 10pt;
     font-weight: bold;
     text-decoration: none;
     color: blue;}
.new{color:red;margin-left:-4em;float:left;}
         body{margin-left:6em;}
