a {
  
        font-size: 15px;
        font-style: normal;
        font-weight: bold;      
        background-color: #0099FF;
        text-decoration: none;
        color: white;
}
a:hover {
        
        font-size: 15px;
        font-style: italic;
        font-weight: bold;      
        background-color: #0099FF;
        text-decoration: none;
        color: red;
}
a:active {
        
        font-size: 15px;
        font-style: none;
        font-weight: bold;      
        background-color: #0099FF;
        text-decoration: none;
        color: olive;
}
.z1 {
        
        font-size: 12px;
        font-style: none;
        font-weight: bold;      
        background-color: #0099FF;
        text-decoration: none;
        color: black;