.z0 {
     font-size: 22pt;
     font-style: normal;
     font-weight: bold;
     text-decoration: none;
     color: brown;}
.z5 {
     font-size: 13pt;
     font-style: normal;
     font-weight: bold;
     color: brown;}
.z6 {
     font-size: 10pt;
     font-style: normal;
     font-weight: bold;
     color: magenta;}
.z7 {
     font-size: 10pt;
     font-style: normal;
     font-weight: bold;
     color: black;}
.zz {
     font-size: 10pt;
     font-weight: bold;
     text-decoration: none;
     color: blue;}