      body {font-size:14.666667px}
      a:link {color:#0000ff;text-decoration:underline}
      a.Internet20link:link {color:#0000ff;text-decoration:underline}
      p.Standard {margin-left:0;margin-right:0;margin-top:0;margin-bottom:10.658268px;border:none;padding:0;text-align:left;font-size:14.666667px}
      .frameGraphics {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:14.666667px}
      .frameGraphics p {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;font-size:14.666667px}