.z0 {
     font-size: 22pt;
     font-style: normal;
     font-weight: bold;
     text-decoration: none;
     color: brown;}
.z1 {
     font-size: 10pt;
     font-weight: bold;
     color: blue;}
.z2 {
     font-size: 10pt;
     font-weight: bold;
     color: blue;}
.z3 {
     font-size: 10pt;
     font-weight: bold;
     color: blue;}
.z4 {
     font-size: 11pt;
     font-style: normal;
     font-weight: bold;
     color: brown;}
.z5 {
     font-style: normal;
     font-weight: bold;
     color: black;}
.z6 {
     font-size: 13pt;
     font-style: normal;
     font-weight: bold;
     color: brown;}
.z7 {
     font-size: 11pt;
     font-style: normal;
     font-weight: bold;
     color: blue;}
.z8 {
     font-size: 10pt;
     font-style: normal;
     font-weight: bold;
     color: red;}
.zz {
     font-size: 10pt;
     font-weight: bold;
     text-decoration: none;
     color: blue;}
#Tabulka1table,#Tabulka2table,#Tabulka3table,#Tabulka4table{
  border:3px double black;
  margin-left:auto;
  margin-right:auto;
border-collapse:separate;border-spacing:0;table-layout:fixed;
}
.oteviracka td{
  border:1px solid gray;
}
#Tabulka1table tr{
  border-bottom:1px dashed blue;
}
td p{margin:0;}
p,h1,h2,h3{
margin-left:auto;
margin-right:auto;
}
h1,h2,h3{
text-align:center;
font-weight:bold;
}

h3.small{font-size:1.2em;}
header h1{text-align:left;}
.main, .main tr, .main td{
        border-spacing:1em;
}
.main .nadpis, .nadpis .z5{
        font-style: normal;
        font-weight: bold;
        color: black;
}
th {
   
        font-size:10pt;
}
.nadpisek .z5{
        padding-top:.5em;
        font-size:12pt;
}

h2#uzavreni,h2#uzavreni18{font-weight:bold;}

table#zavr-table tr td:first-child{font-weight:bold;}
table#zavr-table18 tr td:first-child{font-weight:bold;}


