.z0 {
     font-style: normal;
     font-weight: bold;
     text-decoration: none;
     color: brown;}
.z1 {
     font-style: normal;
     color: black;}
.z2 {
     font-weight: bold;
     text-decoration: underline;
     color: blue;}
.z4 {
     font-style: normal;
     font-weight: bold;
     color: black;}
.z5 {
     font-style: normal;
     font-weight: 900;
     color: black;}
.z6 {
     font-style: normal;
     font-weight: 900;
     color: black;}
.zz {
     font-weight: bold;
     text-decoration: none;
     color: blue;}
