.z0 {
     font-size: 22pt;
     font-style: normal;
     font-weight: bold;
     text-decoration: none;
     color: brown;}
.z1 {
     font-size: 9pt;
     font-weight: bold;
     text-decoration: none;
     color: black;}
.z2 {
     font-size: 12pt;
     font-weight: bold;
     text-decoration: none;
     color: #000080;}
.z3 {
     font-size: 9pt;
     font-weight: bold;
     text-decoration: none;
     color: #000080;}
.zz {
     font-size: 10pt;
     font-weight: bold;
     text-decoration: none;
     color: blue;}