                        p{text-indent:0;}
                        td{width:20em;
                                text-align:center;
                        }
                        td:first-child{
                                width:40em;
                        }
                        .odsadit{margin-left:2em;}