a {font-family: Helvetica, Ariel, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: bold;      
  background-color: none;
        text-decoration: underline;
        color: blue;}
a:hover {font-family: Helvetica, Ariel, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: bold;      
  background-color: none;
        text-decoration: underline;
      color: blue;}
a:active {font-family: Helvetica, Ariel, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: bold;      
  background-color: none;
        text-decoration: underline;
  color: blue;}
.z0 {font-family: Ariel, Times New Roman, Verdana;
     font-size: 22pt;
     font-style: normal;
     font-weight: bold;
     text-decoration: none;
     color: brown;}
.z1 {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
     font-size: 10pt;
     font-style: normal;
     text-decoration: normal;
     font-weight: bold;
     color: black;}
.z2 {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
     font-size: 8pt;
     font-style: italic;
     text-decoration: normal;
     font-weight: bold;
     color: black;}
.z3 {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
     font-size: 10pt;
     font-style: normal;
     text-decoration: normal;
     font-weight: bold;
     color: black;}
.z4 {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
     font-size: 10pt;
     font-style: normal;
     text-decoration: underline;
     font-weight: bold;
     color: blue;}
.z5 {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
     font-size: 8pt;
     font-style: italic;
     text-decoration: underline;
     font-weight: bold;
     color: blue;}
.z6 {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
     font-size: 10pt;
     font-style: normal;
     text-decoration: normal;
     background: orange;
     font-weight: bold;
     color: black;}
.zz {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
     font-size: 10pt;
     font-weight: bold;
     text-decoration: none;
     color: blue;}
.new{color:red;margin-left:-4em;float:left;}
         body{margin-left:6em;}