                        body{width:55em;margin-left:auto;margin-right:auto;}
                        h1{text-align:center;}
                        table{margin-left:auto; margin-right:auto;margin-top:1em;}
                        td{border:1px solid black;}