.z0 {font-family: Ariel, Times New Roman, Verdana;
     font-size: 22pt;
     font-style: normal;
     font-weight: bold;
     text-decoration: none;
     color: brown;}
.z1 {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
     font-size: 10pt;
     font-style: normal;
     font-weight: bold;
     color: black;}
.z2 {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
     font-size: 13pt;
     font-weight: bold;
     text-decoration: underline;
     color: blue;}
.z4 {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
     font-size: 13pt;
     font-style: normal;
     font-weight: bold;
     color: black;}
.z5 {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
     font-size: 10pt;
     font-style: normal;
     font-weight: 900;
     color: black;}
.z6 {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
     font-size: 10pt;
     font-weight: bold;
     text-decoration: underline;
     color: blue;}
.z7 {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
     font-size: 10pt;
     font-weight: bold;
     font-style: italic;
     color: black;}
.zz {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
     font-size: 10pt;
     font-weight: bold;
     text-decoration: none;
     color: blue;}